<app-header></app-header>

<form>
    <div>
        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(5, 126, 134); margin-top: 35px; margin-left: 45px;">Prikaz zakazanog termina:</h1>
    </div>

    <div class='product'>
        <ul>
            <li>
                

                <div class="card">
                    <div class="card-body">
                        <h3>Ime pacijenta: {{zakazivanje.ime_pacijenta}}</h3>
                        <p > Prezime pacijenta: {{zakazivanje.prezime_pacijenta}}</p><br>
                        <p > Naziv intervencije: {{zakazivanje.naziv}}</p><br>
                        <p > Datum intervencije: {{zakazivanje.datum}}</p><br>
                        <p > Vreme intervencije: {{zakazivanje.vreme}}</p><br>
                        <p > Kontakt: {{zakazivanje.telefon}}</p><br>
                    </div>
                  </div>

            </li>
        </ul>
    </div>

</form>
<app-footer></app-footer>
